
body{
  margin: 0;
  padding: 0;
  font-family: ''Noto Sans JP', sans-serif;
}

img{
  max-width: 100%;
  height: auto;
  display: block;
}


.container{
  width: 85%;
  margin:0 5%;
}

.hero{
  padding: 15em 0;
  text-align: center;
  color: white;
  background: center center no-repeat;
  background-image: url("../img/shoe-3.png") ,
  radial-gradient(#444,#111);
  background-blend-mode: soft-light;
  background-attachment:fixed;
  
}

.featured-product{
  background-color: rgb(243, 240, 233);
  padding-bottom:4.5rem ;
}

.img-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.featured-img-cont{
 background-color: cyan;
    margin: 2em 3em;
    border-radius: 50%;
    width: 70%;
    transform: scale(0.9);
    position: relative;
    transition: 350ms ease-in-out;
    color: #444;
    text-align: center;
    /* padding: 1.5rem 1.5rem; */
  
}

.featured-img-cont:hover,
.featured-img-cont:focus{
  transform: scale(1.2);
  cursor: pointer;
  margin-bottom: 4.3rem;
}




/*CSS for text */
.head-text{
  text-transform: uppercase;
  font-size: 3rem;
  line-height: 1;
}


.section-heading{
    text-align: center;
    font-size: 3rem;
    margin-top: 0;
    padding-top: 27px;

}

.featured-price{
  display: block;
  text-align: center;
  margin-top: -1.5rem;
  opacity: 0;
  transition: opacity 350ms ease-in-out;
}

.featured-price:hover, 
 .featured-price:focus {
  opacity: 1;
}

span{
  display: block;
  font-weight: 700;
  font-size: 2rem;
}

/* CSS for Buttons */

.btn{
  background-color: cyan;
    width: 100px;
    font-size: 1rem;
    padding: 8px;
    border-radius: 14px;
    border: none;
    color: white;
    transition: ease-in-out 250ms;
    outline: none;
    display: inline-block;
    text-transform: uppercase;
}

.btn:hover {
outline: none;
cursor: pointer;
width: 110px;
font-size: 1.1rem;
transform: translate(-0.25em);
}
